.head_color
{

color:#00BFFF;
} 
.margin_one
{
padding-left: 0px;
padding-right: 0px;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff20B2AA', endColorstr='#ffffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
  background-image:         linear-gradient(to bottom, #222 0%, #282828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff282828', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-inverse .navbar-brand
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.bodybgcolor
{
	background:#EDEDED; 
}

 .navbar-inverse-one .navbar-nav .open .dropdown-menu > .active > a,
 {
    background-color: black;
  }
  .bodybackgcolor
{
	background:#ffffff; 
}
.bodybgcolorone
{
	background:#303030; 
}
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
-webkit-box-shadow: 3px 2px 20px 10px #c9c9c9;
box-shadow: 3px 2px 20px 10px #c9c9c9;
}
.hcolor 
{color:#00BFFF;}

.bodyblackgcolor
{
  background:#FFFFFF; 
}
.bodygraygcolor
{
  background:#1c1c1c; 
}
.myimg1{
   
    height:125px;width:215px;
}
.hcolorone 
{color:#FFFFFF;}
.myimg2{
   
    height:40px;width:60px;
}
.myimg3{
   
    height:25px;width:25px;
}
.myimg4{
   
    height:20px;width:20px;
}

