

.login-text {
  margin: 2%; 
}

.red-text{
  color: red;
}

.white-text{
  color: white;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#000000;
  height: 1px;
}

.new-line {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#999999;
  height: 1px;
}

body {
   
 
}


a {
  color: #00B7FF;
}

.dish{
  height: auto;
  background-color: #F7FE00
; 
}

.center-text{
  text-align: center;
}
.listOfSupplier_img{
  width: 90%;
  height: auto;
  text-align: center;


}

.listOfSupplier{
  
}
.abc{
   height: auto;
  background-color:;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
  
}

.lcb{
  position: absolute;
  font-size: 40px;
  right: 7%;
  bottom: 7%;
}
.divlocation{
  border-radius: 10px;
<<<<<<< HEAD
  border: 5px groove #505050;
=======
  border: 5px groove #C266E0;
>>>>>>> ce8810f9c11abc01d5c480f77f8827e1e3635323


img {
display: block;
margin: auto;
}


.menuItem{
  margin: 0px;
}
td{
  border: 0px;
  padding: 0px;
}

.signin{
  border-radius: 10px;
  border: 3px groove #FF6C00;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%
}
.signup{
  border-radius: 5%;
  border: 3px groove #FF6C00;
  padding-left: 2%;
  padding-right: 2%;

}

.col-md-offset-1{
  padding-left: 8%;
}

.btn-remove{
  padding: 40%;
} 

.select-box{
  padding-left: 8%;
}

.side-nav{
  margin-left: -225px;
left: 225px;
width: 225px;
position: fixed;
top: 50px;
height: 100%;
border-radius: 0;
border: none;
background-color: #222222;
overflow-y: auto;
}
a:active {color:#0000FF;}

div.transbox{
        font-weight:500
        width:400px;
        height:180px;
        margin:30px 50px;
        /*background-color:#000000;*/
        border:1px;
        opacity:0.6;
        filter:alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p{
        margin:30px 40px;
        font-weight:bold;
        color:#000000;
}
.currentLink {
   color: #640200;
   background-color: #000000;
}

.home_bg{
   margin-top: -2%;
  background:url("../images/food1.jpg") top center no-repeat;
  background-size: cover;
}
table.fixed{
  table-layout: fixed;
  
}
.divMenu{
  height: 12.5%;
  width: 12.5%;
  word-wrap:break-word;
  word-wrap:break-word;

}

.transbox {
font-weight: 500 width:400px;
height: 180px;
margin: 30px 50px;
background-color: #000000;
border: 1px;
opacity: 0.6;
filter: alpha(opacity=60);
}
.panel {
margin-bottom: 20px;
background-color: #000000;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
color: #ffffff;
}
.panel-body {
padding: 5px;
padding-bottom: 10px;
color: #ffffff;
}

ul.autocomplete {
  position:absolute;
  background-color:white;
  border:1px solid #999;
  width:100%;
  list-style:none;
  font-size:12px;
  overflow-x:hidden;
  overflow-y:auto;
  clear:both;}

ul.autocomplete li {
  cursor:pointer;
  margin:0;
  padding:5px;}

ul.autocomplete li.selected {
  background-color:#E1EFF9;}

.shadow {
  -moz-box-shadow: 1px 1px 2px #999;
  -webkit-box-shadow: 1px 1px 2px #999;
  box-shadow: 1px 1px 2px #999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#999999')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#999999');}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
p, .control-group {
  margin: 0 0 20px 0;
}
.demo {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.demo:last-child {
  border-bottom: 0 none;
}
.demo select, .demo input, .demo .selectize-control {
  width: 100%;
}
.demo > *:first-child {
  margin-top: 0;
}
.demo > *:last-child {
  margin-bottom: 0;
}
.demo .value {
  margin: 0 0 10px 0;
  font-size: 12px;
}
.demo .value span {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
.theme-selector {
  margin-top: 10px;
  font-size: 13px;
}
.theme-selector:before {
  content: 'Themes: ';
}
.theme-selector a {
  margin: 0 5px;
}
.theme-selector a.active {
  color: #202020;
  font-weight: bold;
}
#wrapper {
  margin: 0;
}
#wrapper > * {
  padding-left: 100px;
  padding-right: 100px;
}
pre {
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  padding: 10px;
  font-size: 12px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type=button] {
  margin: 0 10px 0 0;
  padding: 6px 10px;
  color: #606060;
  background: #e0e0e0;
  border: 0 none;
  width: auto;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
}
.buttons {
  margin: 0 0 25px 0;
}
input[type=button]:hover {
  background: #dadada;
}

@media only screen and (max-width : 320px) {
  body {
    margin: 20px 0;
  }
  #wrapper {
    margin: 0;
  }
  #wrapper > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  .demo {
    padding: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}