.navbar-default 
{
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(45deg,  #4c4c4c 0%, #595959 12%, #474747 30%, #2c2c2c 50%, #111111 66%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(30%,#474747), color-stop(50%,#2c2c2c), color-stop(66%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 66%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 66%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 66%,#131313 100%); /* IE10+ */
background: linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 66%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.fullyresponsive{
    color: #A4A4A4;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {

    color: #A4A4A4;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 0%, #595959 12%, #474747 30%, #2c2c2c 50%, #111111 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#666666), color-stop(12%,#595959), color-stop(30%,#474747), color-stop(50%,#2c2c2c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {

    color: #A4A4A4;
    background-color: #A4A4A4;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #A4A4A4;
    border-bottom-color:#A4A4A4;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #A4A4A4;
    border-bottom-color: #A4A4A4;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {

    border-top-color: #A4A4A4;
    border-bottom-color: #A4A4A4;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #525252;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{
   background-color: #C266E0;
} 
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #8024AD;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #A4A4A4;

}

.p1
{
	font-size:2em;
}

.widthtext 
{ 
	width: 300px 
}
.op{
        opacity:1;
        color: #FFFFFF;
}
.op1{
        opacity:1;
 background-color: #FFAD00;
 color:#000000;
}
.op2{
        opacity:1;
         background-color: #2C89DA;
         color:#000000;
}
.panel {
  margin-bottom: 20px;

  background-color: #E8E8E8;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
color:#ffffff;
}

.panel-primary>.panel-heading
{
  color:#fff;
  background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 0%, #595959 12%, #474747 30%, #2c2c2c 50%, #111111 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#666666), color-stop(12%,#595959), color-stop(30%,#474747), color-stop(50%,#2c2c2c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.panel-body {
  padding: 5px;
  padding-bottom: 10px; 
color:#000000;
}

.panel_one {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
color:#ffffff;
}
.panel_one-body {
  padding: 5px;
  padding-bottom: 10px; 
color:#000000;
}
/*.op3{
         background-color: #f5f5f5;
         padding: 0px;
        padding-left: 6px;
        height: 100%;
    }
*/
.caro1
{
    margin-top: -1.6%;

}
.colorcode .active
{
    background-color:#000000;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  color: #8024AD;
background: #F7E2F0;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.panelone {
  margin-bottom: 20px;
background: #F7E2F0;
    border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}
.panel-bodyone {
  color:#ffffff;
  padding: 5px;
  padding-bottom: 10px; 

}
.panel-default > .panel-heading {
  color: #FFFFFF;


background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 0%, #595959 12%, #474747 30%, #2c2c2c 50%, #111111 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#666666), color-stop(12%,#595959), color-stop(30%,#474747), color-stop(50%,#2c2c2c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

    border-color: #ddd;
}
.colorcodeone
{
    background: #AD54CE;

    }
 .bodybg
 {
  background:url(../2.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 .well_one {
  min-height: 30px;

  padding: 19px;
  margin-bottom: 20px;
  color: #8024AD;
background: #ffffff;
  border: 1px solid #8024AD;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #AD54CE;
}
.nav-pills > li > a {
  border-radius: 0px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #AD54CE;
}
.colorpl
{
  color: #8024AD;
}
.paneltwo {
  margin-top:;
  margin-bottom: 20px;
background: #ffffff;
    border: 2px solid #F7E2F0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}
.panel-bodytwo {
  color:#8024AD;
  padding: 5px;
  padding-bottom: 10px; 

}
.panel-defaulttwo > .panel-heading {
  color: #8024AD;
background: #FFFFFF;
    border-color: #8024AD;
}
.gbcolotab{
background-color: #F7E2F0;
color:#ffffff

}
.border_right
{

border-right: 1px solid #AD54CE;
}
.border_left
{
border-left: 1px solid #AD54CE;
}
.wtcolor
{
  color:#ffffff;
} 
a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: underline;
}
.home_bg{

  /* margin-top: -2%;*/
  background:url("../images/food1.jpg") top center no-repeat;
  background-size: cover;
}
.navbar {
position: relative;
min-height: 50px;
margin-bottom: auto;
border: 1px solid transparent;
}
.btn-default {
color: #FFF;

background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 0%, #595959 12%, #474747 30%, #2c2c2c 50%, #111111 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#666666), color-stop(12%,#595959), color-stop(30%,#474747), color-stop(50%,#2c2c2c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 0%,#595959 12%,#474747 30%,#2c2c2c 50%,#111111 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
color: #FFF;
background-color: #535353;

}
.locapadding
{
  padding-top: 15px;
  padding-left: 30px;
}
.btn-default {
border-color: #0F0C0C;

}