
<!DOCTYPE html>
<html>
  <head>
    <title>PuneDabbawala.in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/test.css">
    <link rel="stylesheet" href="/stylesheets/selectize.css">  
    <link rel="stylesheet" href="/stylesheets/header-color.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> 
  </head>
  <style type="text/css">
  .action-style{
    padding: 5px;
  }
  </style>

  <body>

    <div class="navigation"></div>    
    <div class="page"></div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 admin-navbar"></div>
    <div class="admin-content col-xs-12 col-sm-12 col-md-10 col-lg-10 well"></div>

 
    <script type="text/x-template" id="full-navbar-template">
      <!--nav bar start-->
      <nav class="navbar navbar-default head_color" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"><p><img src="/images/TSlogo.png" width="60%" height="20%" style="padding-top: 0px;"></p></a> -->
            <img src="/images/TSlogo.png" width="60%" height="20%" style="padding-top: 1px;background-color:#C266E0;
              opacity:0.7;">
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" class="logout"><p><b>Logout</b></p></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!--nav bar end-->
    </script>


    <script type="text/x-template" id="admin-navbar-template">
      <div class="panelone panel-default">
        <div class="panel-heading">
          <h4>To do Task:</h4>
        </div>
        <div class="panel-bodyone">
          <ul id="cat-navi" class="nav nav-list">
            <li class="active"><a href="#"><b>Dabbawala</b></a></li>
            <li><a href="#report"><b>Report</b></a></li>
            <li><a href="#contact"><b>Contact Us</b></a></li>
          </ul>
        </div>
      </div>
    </script>


    <script type="text/x-template" id="admin-right-navbar-dabbawala-template">

      <div class = "navbar navbar-inverse navbar-static-top">
        <ul class="nav nav-pills nav-stacked">
          <li class=""><a href="#addDabbawala">Add Dabbawala</a></li>
          <li><a href="#addTeam">Add Team</a></li>
          <li><a href="#addMenu">Add Menu</a></li>           
        </ul>
      </div>  
    </script>

    

    <script type="text/x-template" id="admin-dashboard-template">
      <div class="">
        <div class="">
          <div class="row">        
            <div class="input-group col-md-8 col-md-offset-2">
              <div class="input-group ">
                <input type="text" class="form-control " id="searchKey" name="searchKey" placeholder="Search by Restaraunts, location, menu, category" required>
                <span class="input-group-btn"><button id="search" type="button" class="btn btn-primary search"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>   
            </div>
          </div>   
          <div class="table-responsive">
            <h3>List of Dabbawala</h3>
            <div class="startTable" id="startTable col-sm-12"> 
              <table id="fTable" class=" table table-bordered ">
                <thead>
                  <tr class="colorcodeone">
                    <th class="colorcodeone"><b>Name of Restaurants</b></th>
                    <th class="colorcodeone">Address</th>
                    <th class="colorcodeone">Service Location</th>
                    <th class="colorcodeone center-text">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each dabbawalaList }}
                    <tr>
                      <td class="active">{{this.name}}</td> 
                      <td class="active">{{this.address.vicinity}}{{#if this.address.city}},{{this.address.city}}{{/if}}{{#if this.address.state}},{{this.address.state}}{{/if}}</td>
                      <td class="active">{{this.distributionAreas}}</td> 
                      <td class="active">
                        <a href="#edit/{{this._id}}" class="btn btn-primary" id="">Edit</a>
                        <a href="#menuDate/{{this._id}}" class="btn btn-primary" id="">MenuDate</a>
                        <a href="#mymodel{{this._id}}" data-toggle="modal" class="btn btn-danger">Delete</a>
                        <div class="modal fade" id="mymodel{{this._id}}" role="dialog" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">Delete Confirmation</div>
                              <div class="modal-body">
                                <p>Are you sure to delete {{this.name}}?</p><br><br>
                              </div>
                              <div class="modal-footer">
                                <a href="#delete/{{this._id}}" class="btn btn-primary"  id="">Yes</a>&nbsp;
                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                              </div>
                           </div>
                          </div>
                        </div>
                      </td>
                    </tr>  
                  {{/each}}
                </tbody>
              </table> 
            </div> 
            <div class="newTable" id="newTable"> 
            <table class="table table-bordered " >
              <thead>
                <tr class="colorcodeone">
                  <th class="colorcodeone">Name of Restaurants</th>
                  <th class="colorcodeone">Address</th>
                  <th class="colorcodeone">Service Location</th>
                  <th class="colorcodeone">Action</th>
                </tr>
              </thead>
              <tbody class="afterSearhTable"></tbody>
            </table> 
          </div>
          <div class="pull-right"><a href="#addDabbawala" class="btn btn-primary" id="">Add New Dabbawala</a>
          </div>
        </div> 
      </div> 
      <script>
        $( document ).ready(function() {
          $('.newTable').hide();
        });
      </script>
    </script>


    <script type="text/x-template" id="add-dabbawala-template">
      <div class="well col-sm-10">
        <h4 class="center-text">Add Dabbawala/Restaurant</h4>
        <hr>
        <form class="form-horizontal create-dabbawala-form " id="createDabbawalaForm">
          <div class="form-group">      
            <input type="text" class="form-control " id="name" name="name" placeholder="Name of Organization or Restaurants" required>
          </div>
          <div class="form-group"> 
            <input type="email" class="form-control " name="email" placeholder="Email Address" required>
          </div>
          <div class="form-group ">
            <input type="tel" class="form-control" id="contact" name="contactNumber" placeholder="Contact Number" required>
          </div>  
          <div class="form-group">
            <label class="col-sm-2">Address:</label>
            <div class="col-sm-3">
              <select id="address.city" name="address.city" class="form-control" >
                <option value="">[Select City]</option>
                <option value="Pune">Pune</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select id="address.state" name="address.state"  class="form-control">
                <option value="">[Select State]</option>
                <option value="Maharashtra">Maharashtra</option> 
              </select>
            </div>
            <div class="col-sm-21">
              <input type="number" name="address.zipCode" value="" placeholder="zip code">
            </div>
            <input type="text" class="form-control " id="address.vicinity" name="address.vicinity" placeholder="House No.,Road/street" required>    
          </div>
          <div class="form-group">
            <div class="demo">
              <div class="control-group">
                <label for="input-tags">Distribution Area:</label>
                <input type="text" id="input-distributionArea" name="distributionAreas" class="input-tags demo-default"  placeholder="Enter area Where you provide service">
              </div>              
            </div>
          </div>
          <div class="form-group">      
            <label class="col-sm-3">Category:</label>
            <div class="col-sm-3">
              <input type="checkbox" name="category" value="veg"> Veg
            </div>
            <div class="col-sm-3">               
              <input type="checkbox" name="category" value="nonVeg">Non Veg
            </div>
            <div class="col-sm-3">     
              <input type="checkbox" name="category" value="gujrati">Gujrati
            </div>         
          </div>
          <div class="form-group">
            <label class="col-sm-3">Order Type:</label>
            <div class="col-sm-3">
              <input type="checkbox" name="orderType" value="daily">Daily 
            </div>
            <div class="col-sm-3">                
              <input type="checkbox" name="orderType" value="weekly">Weekly
              </div>
            <div class="col-sm-3">  
              <input type="checkbox" name="orderType" value="monthly">Monthly
            </div>                          
          </div>
          <div class="form-group">
            <label class="col-sm-3">Meal Type:</label>
            <div class="col-sm-3">
              <input type="checkbox" name="mealType" value='breakfast'>Breakfast 
            </div>
            <div class="col-sm-3">   
              <input type="checkbox" name="mealType" value="lunch">Lunch
            </div>
            <div class="col-sm-3"> 
              <input type="checkbox" name="mealType" value="dinner">Dinner
            </div>                          
          </div>
            <div class="form-group">
              <label class="col-sm-3">Price:</label>
              <div class="col-sm-3 cb-weekly">
                <input type="checkbox" name="priceWeekly" value="weekly">Weekly 
              </div>
              <div class="col-sm-3 cb-monthly"> 
                <input type="checkbox" name="priceMonthly" value="monthly">Monthly
              </div>
              <div class="col-sm-3">     
              </div>                          
            </div>
            <div class="form-group" id="weekly" style="display:none"> 
              <div class="col-sm-4">
                <input type="number" name="price.weekly.breakfast" id="" placeholder="Weekly Breakfast price">
              </div>
              <div class="col-sm-4">
                <input type="number" name="price.weekly.lunch" id="" placeholder="Weekly Lunch price">
              </div>   
              <div class="col-sm-4">
                <input type="number" name="price.weekly.dinner" id="" placeholder="Weekly Dinner price">
              </div>                                            
            </div>
            <div class="form-group" id="monthly" style="display:none"> 
            <div class="col-sm-4">
              <input type="number" name="price.monthly.breakfast" id="" placeholder="Monthly Breakfast price">
            </div>
            <div class="col-sm-4">
              <input type="number" name="price.monthly.lunch" id="" placeholder="Monthly Lunch price">
            </div>   
            <div class="col-sm-4">
              <input type="number" name="price.monthly.dinner" id="" placeholder="Monthly Dinner price">
            </div>                                           
          </div><br>
          <div class="form-group col-sm-3">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>

      <script>
        $('#input-distributionArea').selectize({
          plugins: ['remove_button'],
          persist: false,
          create: function(input) {
            return {
              value: input,
              text: input
            }
          },
          render: {
            item: function(data, escape) {
              $('#input-distributionArea').val('hadapsar');
              return '<div>"' + escape(data.text) + '"</div>';
            }
          },
          onDelete: function(values) {
            return true;
            <!--return confirm(values.length > 1 ? 'Are you sure you want to remove these ' + values.length + ' items?' : 'Are you sure you want to remove "' + values[0] + '"?');-->
          }
        });        
                         
        $('input[type=checkbox]', '.cb-weekly').on('change', function(e) {
          if (this.name === 'priceWeekly' && this.checked) {
            $('#weekly').show();
          } 
          else {
            $('#weekly').hide();
          }
        });
        $('input[type=checkbox]', '.cb-monthly').on('change', function(e) {
          if (this.name === 'priceMonthly' && this.checked) {
            $('#monthly').show();
          } 
          else {
            $('#monthly').hide();
          }
        });                


        $("#createDabbawalaForm").validate({
          rules: {
                  email :{
                    required : true,
                    email: true
                  },contactNumber: {
                  required: true,
                  phoneUS: true
                  }
                  }
        });
      </script>  
    </script>
    
    <script type="text/x-template" id="add-team-template">
      <div class="">
        <div class="row">
          <div class="well col-md-8">
            <h4 class="center-text">{{#if team}}Edit Team{{else}}Add Team {{/if}}</h4>
            <hr>
            {{#if team}}<form class="form-horizontal edit-team-form " id="editTeamForm">{{else}}<form class="form-horizontal create-team-form " id="createTeamForm">{{/if}}
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Dabbawala</label>
                <div class="col-sm-9">      
                  <input type="text" class="form-control " id="dbw" name="dbw" value="{{dabbawalaName}}" required disabled> 
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">      
                  <input type="text" class="form-control " id="firstName"  placeholder="First Name" required {{#if team}}value="{{team.name.first}}"  name="firstName" {{else}} name="firstName" {{/if}}>
                </div>  
              </div>
              <div class="form-group">  
                <label for="" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">      
                  <input type="text" class="form-control " id="lastName" placeholder="Last Name" required {{#if team}}value="{{team.name.last}}" name="lastName" {{else}}name="lastName"{{/if}}>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">      
                  <input type="email" class="form-control " id="email" name="email" placeholder="Email" required {{#if team}}value={{team.email}}{{/if}}>
                </div>
              </div>
              {{#if team}}
              {{else}}
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Password</label>
                  <div class="col-sm-9">      
                    <input type="password" class="form-control " id="password" name="password" placeholder="Password" required >
                  </div>
                </div>
              {{/if}}
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Contact</label>
                <div class="col-sm-9">      
                  <input type="number" class="form-control " id="contactNumber" name="contactNumber" placeholder="Contact Number" required {{#if team}}value={{team.contactNumber}}{{/if}}>
                </div>
              </div>
               <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Role of Member</label>
                  <div class="col-sm-9">      
                    <select id="role" name="role" class="form-control ">
                      <option value="Manager" {{#if  (isSelected team.role 'Manager')}} selected {{/if}}>Manager</option>
                      <option value="Chef" {{#if (isSelected team.role 'Chef')}} selected {{/if}}>Chef</option>
                      <option value="Delivry Boy" {{#if (isSelected team.role 'Delivry Boy')}} selected {{/if}}>Delivry Boy</option>
                    </select>
                  </div>
              </div>        
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  {{#if team}}
                    <button type="submit" class="btn btn-success">Update</button>
                    <input type="hidden" name="id" value="{{team._id}}">
                  {{else}}
                    <button type="submit" class="btn btn-success">Save</button>
                  {{/if}}
                </div>
              </div>
            </form>
          </div>
        </div>  
      </div>
      <script>
      

        $('#createTeamForm').validate({
          rules: {        
          email: {
                  required: true,
                  email: true
                 },
          contactNumber: {
                  required: true,
                  phoneUS: true
                  },
                  submitHandler: function(form) {
                   // do other things for a valid form
                   alert('form submit called');
                    form.submit();
                  }
          }
        });
          $('#editTeamForm').validate({
          rules: {        
          email: {
                  required: true,
                  email: true
                 },
          contactNumber: {
                  required: true,
                  phoneUS: true
                  },
                  submitHandler: function(form) {
                   // do other things for a valid form
                    alert('form submit called');
                    form.submit();
                  }
          }
        });
      </script>
    </script>


    <script type="text/x-template" id="add-menu-template">
      <div class="well col-md-8">
        <h4 class="center-text">{{#if menu}}Edit Menu <div class="findForm" data-form="edit"><div>{{else}}Add Menu{{/if}}</h4>
        <hr>
        {{#if menu}}
        <form class="form-horizontal edit-menu-form " id="editMenuForm">
        {{else}}
        <form class="form-horizontal create-menu-form " id="createMenuForm">
        {{/if}}
          <div class="form-group"> 
            <label for="" class="col-sm-3 control-label">Dabbawala</label>
            <div class="col-sm-9">     
              <input type="text" class="form-control " id="dbw" name="dbw" value="{{dabbawalaName}}" required disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Name of Menu</label>
            <div class="col-sm-9">      
              <input type="text" class="form-control " id="name" name="name" {{#if menu}}value="{{menu.name}}" {{/if}}placeholder="name of Menu " required>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Item List</label>
            {{#if menu}}

              {{#each menu.ingredients}}
                {{#if @index}}
                <div class="col-sm-7 col-sm-offset-3" id="items">      
                  <input type="text" class="form-control col-sm-8" id="ingredients" name="ingredients" placeholder="list of items    i.e. Chapati 4,rice,Sabji,Daal," value="{{this}}">
                </div>
                
                {{else}}
                <div class="col-sm-7" id="items">      
                  <input type="text" class="form-control col-sm-8" id="ingredients" name="ingredients" placeholder="list of items    i.e. Chapati 4,rice,Sabji,Daal," value="{{this}}">
                </div>
                
                {{/if}}

                
              {{/each}}
              <div class="findIndex" data-index="{{countIndex menu.ingredients}}"><div>
            
            {{else}}
              <div class="col-sm-7" id="items">      
                <input type="text" class="form-control col-sm-8" id="ingredients" name="ingredients" placeholder="enter item i.e. Capati 4,rice" required value="">
              </div>
            {{/if}}
            
            <button type="button" class="btnAddItem btn "><span class="glyphicon glyphicon-plus-sign"></span></button>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9" id="items">      
              <textarea row="2"cols="50" class="form-control " id="description" name="description" placeholder="Discription" required > {{#if menu}}{{menu.description}} {{/if}}</textarea>
            </div>
          </div>
          <div class="form-group">      
            <label for="" class="col-sm-3 control-label">Category</label>
            {{#each category}}
            <div class="col-sm-3">
              <input type="checkbox" name="category" value="{{this}}" {{#if ../menu}}{{#if (isPresent ../../menu.category this)}} checked {{/if}} {{/if}}> {{this}}
            </div>
            {{/each}}      
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Meal Type {{mealType}}</label>
            {{#each mealType}}
            <div class="col-sm-3">
              <input type="checkbox" name="mealType" value='{{this}}' {{#if ../menu}}{{#if (isPresent ../../menu.mealType this)}}checked{{/if}} {{/if}}>{{this}}
            </div>
            {{/each}}                       
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label" >Full Price</label>
            <div class="col-sm-9">      
              <input type="number" class = "form-control " id="fullPrice" name="fullPrice" placeholder="full Price" required {{#if menu}}value="{{menu.fullPrice}}"{{/if}}>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Discount Price</label>
            <div class="col-sm-9">        
              <input type="number" class="form-control " id="discountedPrice" name="discountedPrice" placeholder="Discount Price" required {{#if menu}}value="{{menu.discountedPrice}}" {{/if}}>
            </div>  
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success">{{#if menu}}Update {{else}}Save{{/if}}</button>
              {{#if menu}}<input type="hidden" name="id" value="menu._id">{{/if}}
            </div>
          </div>
        </form>
        <button class="btn btn-primary pull-right btnback" id="btnback">Back</button>

      </div>

      <script>
      var index = $('.findIndex').data('index');
      var form =$('.findForm').data('form');
        var itemLimit=5;
        if(form=="edit"){
        var itemCount=index+1;
      }
        else{
        var itemCount=2;
        }
        
        $('.btnAddItem').click(function(){
          //console.log('in jquery');
          if(itemCount <= itemLimit){
            $(this).parent().append('<div class="col-sm-7 col-sm-offset-3"><input type="text" value="" name="ingredients" placeholder="Enter new item" class="form-control"></div>');
            itemCount+=1;
          }
          else{
            alert('Only 5 item can be inserted');
          }
        });
         $('#createMenuForm').validate({
          rules: {        
                  submitHandler: function(form) {
                    alert('form submit called');
                    form.submit();
                  }
          }
        });
         $('#editMenuForm').validate({
          rules: {        
                  submitHandler: function(form) {
                    alert('form submit called');
                    form.submit();
                  }
          }
        });
      </script>  
    </script>
    
    <script type="text/x-template" id="search-dabbawala-template"> 
      <div class="table-responsive">
        <h4>Filtered Result</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name of Restaurants</th>
              <th>Address</th>
              <th>Service Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each dabbawalaList }}
              <tr>
                <td>{{this.name}}</td> 
                <td>{{this.address.vicinity}},{{this.address.city}},{{this.address.state}}</td>
                <td>{{this.distributionAreas}}</td> 
                <td><a href="#update/{{ this._id }}" class="btn btn-primary" id="">Edit</a>
                   <a href="#delete/{{ this._id }}" class="btn btn-danger" id="">Delete</a>
                </td>
              </tr>  
            {{/each}}
          </tbody>
        </table> 
      </div>    
    </script>

    <script type="text/x-template" id="edit-dabbawala-template">
      <div class="">
        <div class="row">
          <h4 class="center-text">{{tiffinboxSupplier.name}} Edit Page</h4>
          <div class="col-md-10">
            <ul class="nav nav-tabs nav-justified">
              <li class="active"><a href="#editDabbawala-t" data-toggle="tab">Edit Basic Information</a></li>
              <li class="gbcolotab border_right"><a href="#editTeam-t" data-toggle="tab">Team</a></li>
              <li class="gbcolotab border_right"><a href="#editMenu-t" data-toggle="tab">Menu</a></li> 
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="tab-content editTabs">
            <div class="tab-pane active col-md-10" id="editDabbawala-t">
              <form class="form-horizontal edit-dabbawala-form well col-sm-12" id="editDabbawalaForm">
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Dabbawala</label>
                  <div class="col-sm-9">   
                    <input type="text" class="form-control " id="" name="name" value="{{tiffinboxSupplier.name}}" required >
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-9"> 
                    <input type="email" class="form-control " name="email" value="{{tiffinboxSupplier.email}}" required>
                  </div>
                </div>
                <div class="form-group ">
                  <label for="" class="col-sm-3 control-label">Contact</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="contact" name="contactNumber" value="{{tiffinboxSupplier.contactNumber}}" required>
                  </div>  
                </div>
                <div class="form-group ">
                  <label for="" class="col-sm-3 control-label">Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="" name="address.vicinity" value="{{tiffinboxSupplier.address.vicinity}}" required>
                  </div>  
                </div>
                <div class="form-group">
                  <div class="col-sm-9 col-sm-offset-3">
                    <div class="col-sm-4">
                      <select id="address.city" name="address.city" class="form-control">
                        <option value="">Select City</option>
                        <option value="Pune" {{#if  (isSelected tiffinboxSupplier.address.city 'Pune')}} selected {{/if}}>Pune</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <select id="address.state" name="address.state"  class="form-control">
                        <option value="" >Select State</option>
                        <option value="Maharashtra" {{#if  (isSelected tiffinboxSupplier.address.state 'Maharashtra')}} selected {{/if}}> Maharashtra</option> 
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control " id="address.zipCode" name="address.zipCode" value="{{tiffinboxSupplier.address.zipCode}}" required>
                    </div> 
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Distribution Area</label>
                  <div class="col-sm-9">
                    <div class="demo">
                      <div class="control-group">
                        <label for="input-tags">Distribution Area:</label>
                        <input type="text" id="input-distributionArea2" name="distributionAreas" class="input-tags demo-default"  placeholder="Enter area Where you provide service" value="{{tiffinboxSupplier.distributionAreas}}">
                      </div>              
                    </div>
                  </div>
                </div>  
                <div class="form-group">      
                  <label class="col-sm-3 control-label">Category:</label>
                  <div class="col-sm-3">
                    <input type="checkbox" name="category" value="veg" {{#if (isPresent tiffinboxSupplier.category 'veg')}}checked {{/if}}> Veg
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="category" value="nonVeg" {{#if (isPresent tiffinboxSupplier.category 'nonVeg')}}checked {{/if}}>Non Veg
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="category" value="gujrati" {{#if (isPresent tiffinboxSupplier.category 'gujrati')}}checked {{/if}}>Gujrati
                  </div>         
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Order Type:</label>
                  <div class="col-sm-3">
                    <input type="checkbox" name="orderType" value="daily" {{#if (isPresent tiffinboxSupplier.orderType 'daily')}}checked {{/if}}>Daily 
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="orderType" value="weekly" {{#if (isPresent tiffinboxSupplier.orderType 'weekly')}}checked {{/if}}>Weekly
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="orderType" value="monthly" {{#if (isPresent tiffinboxSupplier.orderType 'monthly')}}checked {{/if}}>Monthly
                  </div>                          
                </div>
  
                <div class="form-group">
                  <label class="col-sm-3 control-label">Meal Type:</label>
                  <div class="col-sm-3">
                    <input type="checkbox" name="mealType" value='breakfast' {{#if (isPresent tiffinboxSupplier.mealType 'breakfast')}}checked {{/if}}>Breakfast 
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="mealType" value="lunch" {{#if (isPresent tiffinboxSupplier.mealType 'lunch')}}checked {{/if}}>Lunch
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" name="mealType" value="dinner" {{#if (isPresent tiffinboxSupplier.mealType 'dinner')}}checked {{/if}}>Dinner
                  </div>                          
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Price:</label>
                  <div class="col-sm-3 cb-weekly">
                    <input type="checkbox" name="priceWeekly" value="weekly" {{#if tiffinboxSupplier.price.weekly.dinner}}checked{{else}}{{#if tiffinboxSupplier.price.weekly.lunch}}checked{{else}}{{#if tiffinboxSupplier.price.weekly.breakfast}}checked{{else}}{{/if}}{{/if}}{{/if}}>Weekly 
                  </div>
                  <div class="col-sm-3 cb-monthly">
                    <input type="checkbox" name="priceMonthly" value="monthly" {{#if tiffinboxSupplier.price.monthly.dinner}}checked{{else}}{{#if tiffinboxSupplier.price.monthly.lunch}}checked{{else}}{{#if tiffinboxSupplier.price.monthly.breakfast}}checked{{else}}{{/if}}{{/if}}{{/if}}>Monthly
                  </div>
                  <div class="col-sm-3">

                  </div>                          
                </div>
              
                <div class="form-group " id="weekly" {{#if tiffinboxSupplier.price.weekly.dinner}}{{else}}{{#if tiffinboxSupplier.price.weekly.lunch}}{{else}}{{#if tiffinboxSupplier.price.weekly.breakfast}}{{else}}style="display:none"{{/if}}{{/if}}{{/if}}>
                  <div class="col-sm-9 col-sm-offset-3"> 
                    <div class="col-sm-4">
                      <input type="number" name="price.weekly.breakfast" id="" placeholder="Weekly Breakfast price" {{#if tiffinboxSupplier.price.weekly.breakfast}} value="{{tiffinboxSupplier.price.weekly.breakfast}}" {{/if}}>
                    </div>
                    <div class="col-sm-4">
                      <input type="number" name="price.weekly.lunch" id="" placeholder="Weekly Lunch price" {{#if tiffinboxSupplier.price.weekly.lunch}} value="{{tiffinboxSupplier.price.weekly.lunch}}" {{/if}}>
                    </div>   
                    <div class="col-sm-4">
                      <input type="number" name="price.weekly.dinner" id="" placeholder="Weekly Dinner price" {{#if tiffinboxSupplier.price.weekly.dinner}} value="{{tiffinboxSupplier.price.weekly.dinner}}" {{/if}}>
                    </div>                                            
                  </div>
                </div>
                <div class="form-group" id="monthly" {{#if tiffinboxSupplier.price.monthly.dinner}}{{else}}{{#if tiffinboxSupplier.price.monthly.lunch}}{{else}}{{#if tiffinboxSupplier.price.monthly.breakfast}}{{else}}style="display:none"{{/if}}{{/if}}{{/if}}> 
                  <div class="col-sm-9 col-sm-offset-3"> 
                    <div class="col-sm-4">
                      <input type="number" class="monthly_bf" name="price.monthly.breakfast" id="" placeholder="Monthly Breakfast price" {{#if tiffinboxSupplier.price.monthly.breakfast}} value="{{tiffinboxSupplier.price.monthly.breakfast}}" {{/if}}>
                    </div>
                    <div class="col-sm-4">
                      <input type="number" class="monthly_lunch" name="price.monthly.lunch" id="" placeholder="Monthly Lunch price" {{#if tiffinboxSupplier.price.monthly.lunch}} value="{{tiffinboxSupplier.price.monthly.lunch}}" {{/if}}>
                    </div>   
                    <div class="col-sm-4">
                      <input type="number" class="monthly_dinner" name="price.monthly.dinner" id="" placeholder="Monthly Dinner price" {{#if tiffinboxSupplier.price.monthly.dinner}} value="{{tiffinboxSupplier.price.monthly.dinner}}" {{/if}}>
                    </div>                                            
                  </div>
                </div>
                <div class="form-group">
                  <input type="hidden" value={{tiffinboxSupplier.id}} name="id">
                  <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-success">Update</button>             
                  </div>
                </div>
              </form>               
            </div>
            <div class="tab-pane col-md-10 " id="addTeam-t">
            addTeam-t
            </div>
            <div class="tab-pane col-md-10 " id="editTeam-t">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="colorcodeone">
                      <th class="colorcodeone">Name </th>
                      <th class="colorcodeone">Email</th>
                      <th class="colorcodeone">Contact</th>
                      <th class="colorcodeone">Role</th>
                      <th class="colorcodeone">Action</th>
                    </tr>
                  </thead>

                  <tbody>                            
                    {{#each tiffinboxSupplier.team }}
                      <tr>
                        <td class="active">{{this.name.first}}&nbsp {{this.name.last}}</td>
                        <td class="active">{{this.email}}</td>
                        <td class="active">{{this.contactNumber}}</td>
                        <td class="active">{{this.role}}</td>
                        <td class="active">
                          <a href="#editTeam/{{this._id}}" class="btn btn-primary">Edit</a>&nbsp
                          <a href="#mymodel{{this._id}}" data-toggle="modal" class="btn btn-danger">Delete</a>
                          <div class="modal fade" id="mymodel{{this._id}}" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">Delete Confirmation</div>
                                <div class="modal-body">
                                  <p>Are you sure to delete {{this.name.first}} {{this.name.last}}?</p><br><br>
                                </div>
                                <div class="modal-footer">
                                  <a href="#deleteTeam/{{this._id}}" class="btn btn-primary"  id="">Yes</a>&nbsp;
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                </div>
                             </div>
                            </div>
                          </div>
                        </td> 
                      </tr>  
                    {{/each}}
                  </tbody>
                </table> 
              </div>
              <div class="pull-right"><a href="#addTeam" class="btn btn-primary" id="">Add New Member</a></div>                      
            </div>
          
            <div class="tab-pane col-md-10 " id="editMenu-t">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="colorcodeone">
                      <th class="colorcodeone">Name </th>
                      <th class="colorcodeone">Category</th>
                      <th class="colorcodeone">Meal Type</th>
                      <th class="colorcodeone">Items</th>  
                      <th class="colorcodeone">Price</th>
                      <th class="colorcodeone">Action</th>                      
                    </tr>
                  </thead>
                  <tbody>            
                    {{#each tiffinboxSupplier.menu }}
                      <tr>
                        <td class="active">{{this.name}}</td>
                        <td class="active">{{this.category}}</td>
                        <td class="active">{{this.mealType}}</td>
                        <td class="active">{{this.ingredients}}</td>
                        <td class="active">{{this.fullPrice}}</td>
                        <td class="active">
                          <a href="#editMenu/{{this._id}}" class="btn btn-primary">Edit</a>&nbsp
                          <!--<a href="#deleteMenu/{{this._id}}" class="btn btn-danger">Delete</a>-->
                          <a href="#mymodel{{this._id}}" data-toggle="modal" class="btn btn-danger">Delete</a>
                          <div class="modal fade" id="mymodel{{this._id}}" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">Delete Confirmation</div>
                                <div class="modal-body">
                                  <p>Are you sure to delete {{this.name}}?</p><br><br>
                                </div>
                                <div class="modal-footer">
                                  <a href="#deleteMenu/{{this._id}}" class="btn btn-primary"  id="">Yes</a>&nbsp;
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                </div>
                             </div>
                            </div>
                          </div>
                        </td>                                                            
                      </tr>  
                    {{/each}}
                  </tbody>
                </table>
                <div class="pull-right"><a href="#addMenu" class="btn btn-primary" id="">Add New Menu</a></div>                 
              </div>
            </div>        
          </div>
        </div>
      </div>
      <script>  
        $(function () {
          $('#myTab a:last').tab('show')
        }); 

        $('#input-distributionArea2').selectize({
          plugins: ['remove_button'],
          persist: false,
          create: function(input) {
            return {
              value: input,
              text: input
            }
          },
          render: {
            item: function(data, escape) {
              $('#input-distributionArea').val('hadapsare');
              return '<div>"' + escape(data.text) + '"</div>';
            }
          },
          onDelete: function(values) {
            return true;

            <!--return confirm(values.length > 1 ? 'Are you sure you want to remove these ' + values.length + ' items?' : 'Are you sure you want to remove "' + values[0] + '"?');-->
          }
        }); 

        $('input[type=checkbox]', '.cb-weekly').on('change', function(e) {
            if (this.name === 'priceWeekly' && this.checked) {
              $('.price.weekly.breakfast').val({{tiffinboxSupplier.price.weekly.breakfast}});
              $('.price.weekly.lunch').val({{tiffinboxSupplier.price.weekly.lunch}});
              $('.price.weekly.dinner').val({{tiffinboxSupplier.price.weekly.dinner}});
              $('#weekly').show();
            } 
            else {
              $('.price.weekly.breakfast').val("");
              $('.price.weekly.lunch').val("");
              $('.price.weekly.dinner').val("");
              $('#weekly').hide();
            }
        });
        $('input[type=checkbox]', '.cb-monthly').on('change', function(e) {
            if (this.name === 'priceMonthly' && this.checked) {
              $('.monthly_bf').val({{tiffinboxSupplier.price.monthly.breakfast}});
              $('.monthly_lunch').val({{tiffinboxSupplier.price.monthly.lunch}});
              $('.monthly_dinner').val({{tiffinboxSupplier.price.monthly.dinner}});
              $('#monthly').show();
            } 
            else {
              $('.monthly_bf').val('');
              $('.monthly_lunch').val('');
              $('.monthly_dinner').val('');
              $('#monthly').hide();
            }
        });              
        $('#editDabbawalaForm').validate({
          rules: {        
          email: {
                  required: true,
                  email: true
                 },
          contactNumber: {
                  required: true,
                  phoneUS: true
                  }
          }
        });
      </script>
    </script>

    <script type="text/x-template" id="menu-date-template">
      <h3>Assign Date to Menu {{#if tiffinboxSupplier}}for {{tiffinboxSupplier.name}} {{/if}}</h3>
      <hr />
      <div class="col-md-12">
        <form class="assign-menuDate-form form-horizontal col-md-12">
        <table>
          {{#if tiffinboxSupplier}}
          <tr><td class="col-sm-9">
            <div class="form-group">      
              <label class="col-sm-4 control-label">Date:</label>
              <div class="col-sm-8">
                <input type="text" name="date" id="datepicker" class="form-control "> 
                
              </div>
            </div></td><td class="col-sm-3">&nbsp;</td></tr>
          {{/if}}
          {{#if (isPresent tiffinboxSupplier.mealType 'breakfast')}}
          <tr><td class="col-sm-9">
            <div class="form-group">      
              <label class="col-sm-4 control-label">Breakfast:</label>
              <div class="col-sm-8">
                <select name="breakfast.menuId" class="form-control menuDate-b">
                  <option value="">select menu</option>
                  {{#each tiffinboxSupplier.menu}}
                    <option class="findMenuItem" data-menuitem="{{this.ingredients}}" value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select> 
              </div>
            </div></td><td class="onMenuSelect-b col-sm-3"></td></tr>
          {{/if}}
          {{#if (isPresent tiffinboxSupplier.mealType 'lunch')}}
           <tr><td class="col-sm-9">
            <div class="form-group">      
              <label class="col-sm-4 control-label">Lunch:</label>
              <div class="col-sm-8">
                <select name="lunch.menuId" class="form-control menuDate-l">
                  <option value="">select menu</option>
                  {{#each tiffinboxSupplier.menu}}
                    <option class="findMenuItem" data-menuitem="{{this.ingredients}}" value="{{this._id}}">{{this.name}} </option>
                  {{/each}}
                </select>
              </div>
            </div></td><td class="onMenuSelect-l col-sm-3"></td></tr>
          {{/if}}
          {{#if (isPresent tiffinboxSupplier.mealType 'dinner')}}
           <tr><td class="col-sm-9">
            <div class="form-group">      
              <label class="col-sm-4 control-label">Dinner:</label>
              <div class="col-sm-8">
                <select name="dinner.menuId" class="form-control menuDate-d">
                  <option value="">select menu</option>
                  {{#each tiffinboxSupplier.menu}}
                    <option class="findMenuItem" data-menuitem="{{this.ingredients}}" value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div></td><td class="onMenuSelect-d col-sm-3"></td></tr>
          {{/if}}
          <tr><td>
          <div class="form-group">      
            <button type="submit" class="col-sm-4 col-sm-offset-5 btn btn-primary">save</button>
          </div></td><td>&nbsp;</td></tr>
        </table>
        </form>
      </div>
      
      <script>
        // $(function() {
        //   $( "#datepicker" ).datepicker();
        // });
        $("#datepicker" ).datepicker({ minDate: new Date() });

       $('.menuDate-b').on('change', function(e){
          var val = $(".menuDate-b option:selected").data('menuitem');
          $('.onMenuSelect-b').html(val);
        });
       $('.menuDate-l').on('change', function(e){
          var val = $(".menuDate-l option:selected").data('menuitem');
     
          $('.onMenuSelect-l').html(val);
        });
       $('.menuDate-d').on('change', function(e){
          var val = $(".menuDate-d option:selected").data('menuitem');
          $('.onMenuSelect-d').html(val);
        });
      </script>
    </script>


    <script type="text/x-template" id="admin-right-navbar-report-template">
      <center><h2>Reports</h2></center><br><br>
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Daily <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">Weekly</a></li>
                  <li><a href="#">Monthly</a></li>
                  <li><a id="searchTiffinSuppliers"> Tiffin Suppliers</a></li>
                </ul>

              </div><!-- /.container-fluid -->
            </nav>
          </div>        
          <div class="row">
            <div class="tiffinboxSupplier-search">
              <div class="col-md-6">
                  <div class="form-group ">
                    <div class="row">
                      <label for="" class="col-sm-4 control-label">Tiffinbox Suppliers</label>
                      <div class="col-sm-8">
                        <select class="suppliers-list" data-live-search="true" >
                          <option >--select one--</option>
                          {{#each dabbawalaList }}
                          <option value="{{this._id}}">{{this.name}}</option>
                         {{/each}} 
                        </select>
                      </div>
                    </div>  
                  </div>
              </div>
            </div><!-- tiffinboxSupplier-search-->
          </div>
          <div class="row">
            <div cass="col-md-6">
              <div class="table-responsive">
                <table class="table table-bordered ">
                  <thead>
                    <tr>
                      <th class="center-text">Date</th>
                      <th class="center-text">Meal Type</th>
                      <th class="center-text">Category</th>
                      <th class="center-text">Menu</th>
                      <th class="center-text">Price</th>
                      <th class="center-text"><input type="checkbox"/> Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#each orderList}}
                    <tr>
                      <td>{{#datefmt this.orderDate}}{{/datefmt}}</td>
                      {{#each this.orderDetails}}
                      <td>{{this.mealAt}}</td>
                      <td></td>
                      <td>{{#menuName this.menuId}}{{/menuName}}</td>
                      <td>{{this.price}}</td>
                      <td><input type="checkbox" /> <a hrf="" ><span class="glyphicon glyphicon-pencil action-style"></span></a>|<a hrf=""><span class="glyphicon glyphicon-envelope action-style"></span></a>| Notification</td>
                      {{/each}}
                    </tr>
                  {{/each}}
                  </tbody>
                </table> 
              <div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-6">
              <span style="display:none"><input class="checkoutFirstDateValue" value="{{firstDate}}"></span>
              <ul class="nav nav-tabs">
                <li class="active"><a href="#daily" data-toggle="tab">Daily</a></li>
                <li><a href="#weekly" data-toggle="tab">Weekly</a></li>
                <li><a href="#monthly" data-toggle="tab">Monthly</a></li> 
              </ul>
            </div>
          <div class="row">
          <div class="tab-content">
            <div class="tab-pane active" id="daily">
              <div class="table-responsive">
                <table class="table table-bordered " style='table-layout:fixed'>
                  <thead>
                    <tr>                
                    </tr>
                  </thead>
                  <tbody>
                  
                  </tbody>       
                </table> 
              </div>
            </div>

            <div class="tab-pane" id="lunch">                 
              <div class="table-responsive">
                <table class="table table-bordered" style='table-layout:fixed'>
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th class="center-text"><div class="monOfWeek"></div></th>
                      <th class="center-text"><div class="tueOfWeek"></div></th>
                      <th class="center-text"><div class="wedOfWeek"></div></th>
                      <th class="center-text"><div class="thusOfWeek"></div></th>
                      <th class="center-text"><div class="friOfWeek"></div></th>
                      <th class="center-text"><div class="satOfWeek"></div></th>
                      <th class="center-text"><div class="sunOfWeek"></div></th>
                    </tr>
                  </thead>
                        
                  <tbody> 
                    
                  </tbody>
                </table> 
              </div>
            </div>

            <div class="tab-pane" id="dinner">
              <div class="table-responsive">
                <table class="table table-bordered" style='table-layout:fixed'>
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th class="center-text"><div class="monOfWeek"></div></th>
                      <th class="center-text"><div class="tueOfWeek"></div></th> 
                      <th class="center-text"><div class="wedOfWeek"></div></th>
                      <th class="center-text"><div class="thusOfWeek"></div></th>
                      <th class="center-text"><div class="friOfWeek"></div></th>
                      <th class="center-text"><div class="satOfWeek"></div></th>
                      <th class="center-text"><div class="sunOfWeek"></div></th>
                    </tr>
                  </thead>

                  <tbody>
                    
                  </tbody>
                </table> 
              </div>     
            </div>
            <div id="btnCheckin" style="display:none">   
              <button class="btn btn-primary addTocart">AddToBasket</button>
            </div>
          </div>
        </div>
        <script>
           $(document).ready(function(){
              $('.tiffinboxSupplier-search').hide();
           });
          

          $('#searchTiffinSuppliers').on('click',function(){
            $('.tiffinboxSupplier-search').show();  
          });
          $('.suppliers-list').selectize({
              create: true,
              sortField: 'text'
          });
          

        </script>


        
    </script>

   

    <script src= "/javascripts/lib/jquery.js"></script> 
    <script src= "/javascripts/lib/handlebars-v1.3.0.js"></script>
    <script src= "/javascripts/lib/underscore.js"></script>
    <script src= "/javascripts/lib/backbone.js"></script>    
    <script src= "/javascripts/lib/selectize.js"></script>
    <script src= "/javascripts/lib/bootstrap.min.js"></script>
    <script src= "/javascripts/lib/helper.js"></script>
    <script src="/javascripts/backbone_utils.js"></script>
    <script src="/javascripts/adminDashboard/model.js"></script>
    <script src="/javascripts/adminDashboard/collections.js"></script>
    <script src="/javascripts/adminDashboard/view.js"></script>
    <script src="/javascripts/adminDashboard/collections.js"></script>
    <script src="/javascripts/adminDashboard/router.js"></script>
    <script src="/javascripts/adminDashboard/app.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

     <script src="/javascripts/lib/jquery.validate.min.js"></script>
    <script src="/javascripts/lib/additional-methods.min.js"></script>
    <script src="/javascripts/lib/bootstrap-select.js"></script>

  </body>
</html>