 {{#each user.address}}
                {{#if @index}}              
                  <div class="form-group ">
                    <label for="" class="col-sm-3 control-label">Address </label>
                    <div class="col-sm-4">
                      <select class="form-control" name="title">
                        <option  value="" {{#if  (isSelected this.title 'Select One')}} selected {{/if}}>Select One</option>
                        <option {{#if (isSelected this.title 'Home Address')}} selected {{/if}}>Home Address</option>
                        <option {{#if (isSelected this.title 'Office Address')}} selected {{/if}}>Office Address</option>
                        <option {{#if (isSelected this.title 'Other Address')}} selected {{/if}}>Other Address</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="" name="vicinity" required placeholder="enter Road.or street" value="{{this.vicinity}}">
                    </div>  
                  </div>
                  <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                      <div class="col-sm-4"> 
                        <select id="city" name="city" class="form-control">
                          <option value="">Select City</option>
                          <option {{#if  (isSelected this.city 'Pune')}} selected {{/if}}>Pune</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <select id="address.state" name="state"  class="form-control">
                          <option value="" >Select State</option>
                          <option {{#if  (isSelected this.state 'Maharashtra')}}selected{{/if}}>Maharashtra</option> 
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" class="form-control " id="zipCode" name="zipCode" required placeholder="zip code" value="{{this.zipCode}}">
                      </div> 
                    </div>              
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Primary Address:</label>
                    <div class="col-sm-9">
                      <div class="col-sm-4">
                        <label class="radio-inline">
                          <input name="radioGroup" id="radio1" value="breakfast" type="radio"> Breakfast
                        </label>
                      </div> 
                       <div class="col-sm-4">
                        <label class="radio-inline">
                          <input name="radioGroup" id="radio2" value="lunch" type="radio"> Lunch
                        </label>
                      </div> 
                       <div class="col-sm-4">
                        <label class="radio-inline">
                          <input name="radioGroup" id="radio3" value="dinner" type="radio"> Dinner
                        </label>
                      </div> 
                    </div>
                  </div>
                  {{#if @last}}
                    <span class="findIndex" data-index="{{@index}}"></span>
                    <div class="">
                      <button type="button" class="btnAddItem btn "><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </div>
                  {{/if}}
                {{else}}
                  <div class="form-group ">
                    <label for="" class="col-sm-3 control-label">Address </label>
                    <div class="col-sm-4">
                      <select class="form-control" name="title">
                        <option  value="" {{#if  (isSelected this.title 'Select One')}} selected {{/if}}>Select One</option>
                        <option {{#if  (isSelected this.title 'Home Address')}} selected {{/if}}>Home Address</option>
                        <option {{#if  (isSelected this.title 'Office Address')}} selected {{/if}}>Office Address</option>
                        <option {{#if (isSelected this.title 'Other Address')}}selected{{/if}}>Other Address</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="" name="vicinity" required placeholder="enter Road.or street" value="{{this.vicinity}}">
                    </div>
                   
                  </div>
                  <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                      <div class="col-sm-4"> 
                        <select id="city" name="city" class="form-control">
                          <option value="">Select City</option>
                          <option {{#if  (isSelected this.city 'Pune')}} selected {{/if}}>Pune</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <select id="address.state" name="state"  class="form-control">
                          <option value="" >Select State</option>
                          <option {{#if  (isSelected this.state 'Maharashtra')}}selected{{/if}}>Maharashtra</option> 
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" class="form-control " id="zipCode" name="zipCode" required placeholder="zip code" value="{{this.zipCode}}">
                      </div> 
                    </div>              
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Primary Address:</label>
                    <div class="col-sm-9">
                      <div class="col-sm-4">
                        <label class="radio-inline">
                          <input name="radioGroup" id="radio1" value="breakfast" type="radio"> Breakfast
                        </label>
                      </div> 
                       <div class="col-sm-4">
                        <label class="radio-inline">
                          <input name="radioGroup" id="radio2" value="lunch" type="radio"> Lunch
                        </label>
                      </div> 
                       <div class="col-sm-4">
                        <label class="radio-inline">
                          <input name="radioGroup" id="radio3" value="dinner" type="radio"> Dinner
                        </label>
                      </div> 
                    </div>
                  </div>
                  {{#if @last}}
                    <span class="findIndex" data-index="{{@index}}"></span>
                    <div class="">
                      <button type="button" class="btnAddItem btn "><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </div>
                  {{/if}}
                {{/if}}
              {{/each}}